@charset "utf-8";

body{width:750px; height:100%; font-family:'Ubuntu', sans-serif; color:#848484; }


/*----------------------------------모바일------------------------------- */

	.wrap{width:750px; margin: 0 auto; overflow: hidden;}
	a{color:#848484; cursor:pointer; }


	/* header */
	header{ width:750px; height: 100px; background: #fff; margin: 0 auto; overflow: hidden; position: fixed; z-index: 9999; box-sizing: border-box;}
	.shopName{width: 100%; height: 100px; font-size:30px;  text-align: left; padding-top: 0px;  box-sizing: border-box;}
	.shopName a{width: 100%; height: 100px; line-height: 100px; padding-left:95px; box-sizing: border-box;}

	ul.gnb {width:750px; height: auto; /*overflow: hidden;*/ background: #fff;  margin:0 auto; opacity: .7;  position: fixed; z-index: 999;}
	.gnb>li{float:none; width:750px; line-height:50px; text-align: center; font-size: 18px; }
	.gnb>li a{width:100%; height: 50px; display: block; box-sizing: border-box; color:#333;}
	.gnb>li a:hover{opacity:.7;}
		/*소메뉴*/
		header .gnb ul{width:750px; height:100px; display: none;}
		/*각각의 소메뉴*/
		header .gnb ul a{height: 50px; line-height: 50px; font-size:18px; color:#333;}

	.gnb{display: none;}	
	.mobileIcon{display: block;}
	.mobileIcon .m_icon1{position: absolute; z-index: 9999; top:38px; left :20px;}
	.mobileIcon .m_icon2{position: absolute; z-index: 9999; top:35px; right:90px;}
	.mobileIcon .m_icon3{position: absolute; z-index: 9999; top:35px; right:30px;}


	/* plant */
	.plant{width: 750px; height:auto; overflow: hidden; padding-top: 100px;}
	.plant ul{width: 750px; height:1600px; margin: 0 auto;  padding:0 3px 3px; box-sizing: border-box;}
	.plant li{width: 360px; height:500px; float: left; margin: 0 auto; position: relative; margin: 0px 5.5px 10px; text-align: center; box-sizing: border-box; cursor: pointer;}
	.plant li:nth-child(1){background: url(../images/shop1/img01.jpg) 50% 50% no-repeat;}
	.plant li:nth-child(2){margin: 0px 5.5px 10px; background: url(../images/shop1/img02.jpg) 50% 50% no-repeat; }
	.plant li:nth-child(3){background: url(../images/shop1/img03.jpg) 50% 50% no-repeat;}
	.plant li:nth-child(4){background: url(../images/shop1/img04.jpg) 50% 50% no-repeat;}
	.plant li:nth-child(5){margin: 0px 5.5px 10px; background: url(../images/shop1/img05.jpg) 50% 50%  no-repeat; }
	.plant li:nth-child(6){background: url(../images/shop1/img06.jpg) 50% 50%  no-repeat;}
	.plant li:nth-child(7){display: none;}
	.plant li:nth-child(8){display: none;}	
	.plant li:nth-child(9){display: none;}

	.cost{width: 360px; height: 105px; background: rgba(255,255,255,1); position: absolute; left: 0px; bottom: 0; color:#333; overflow: hidden; opacity: 1; }
	.best{font-size: 18px; color:#fff; width: 53px; height: 21px; background: #000; text-align: center; line-height: 18px; margin:12px 4px 6px 8px; }
	.NEW{font-size: 18px; color:#333; border:1px solid #333; width: 53px; height: 21px; box-sizing: border-box;  background: #fff; text-align: center; line-height: 18px; margin-top: 12px;}
	.cost > div{float: left;}
	.cost p {/*float: none; */ margin: 25px 0 0 8px; font-size: 18px; line-height: 1.5; text-align: left;}
	.more{display: block; width:170px; height: 50px; margin:0 auto; background: #f3f3f3; font-size: 18px; text-align: center; line-height: 50px; margin-top: 27px; margin-bottom: 70px; }
	.more a{display: block; width: 170px; height: 50px; cursor: pointer;}
	.more a:hover{color:#333;}


	/*footer*/

	.mobileFooter{width: 750px;  display: block; font-size: 16px; padding:0px 2.5px; box-sizing: border-box;}
	.mobileFooter h4{text-decoration: none;}
	strong{color:#333;}
	.fontSize{font-size: 14px;}

	.box1{width: 745px; height: 180px; overflow: hidden; text-align: center; border-top: 2px solid #efefef; box-sizing: border-box;}
	.box1 h4{padding-bottom: 20px; padding-top:5px; margin-top: 20px; }
	.mobileCS{width: 365px; height: 180px; padding:10px 0; box-sizing: border-box;float: left; }
	.mobileCS p{line-height: 1.5; border-right: 1px solid #efefef; }
	.mobileCS h4{ border-right: 1px solid #efefef; }
	/*.mobileCS strong{padding-bottom: 20px;}*/
	.mobileBANK{width: 365px; height: 160px; padding:10px 0; box-sizing: border-box; float: left;}
	.mobileBANK p{line-height: 1.5;}
	
	.box2{width:745px; height:75px; line-height: 75px; text-align: center; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; box-sizing: border-box;}
	.box2 a{width: 24px; height: 24px; vertical-align: middle; display: inline-block; cursor: pointer;}
	.box2 h4{display: inline; padding-bottom: 0; padding-right: 5px;}

	.sns1{background: url(../images/shop1/sns_m11.png)no-repeat; padding-left: 5px; padding-right: 5px;}
	.sns2{background: url(../images/shop1/sns_m22.png)no-repeat; padding-right: 10px; }
	.sns3{background: url(../images/shop1/sns_m33.png)no-repeat; padding-right: 5px;}

	.box3{width: 745px; overflow: hidden; text-align: center; height: 100px; line-height: 100px; box-sizing: border-box; margin-top:20px ;}
	.box3 ul{width: 485px; height:85px; margin:0 auto; text-align: center;}
	.box3 li{float: left; width: auto; padding:0 3.1%;  height: 85px; line-height: 85px; box-sizing: border-box; cursor: pointer; margin:0 auto; }
	.box3 a{display: block; height: 85px;box-sizing: border-box; cursor: pointer;}
	.box4{width: 745px; height: 150px; text-align: center; line-height: 1.8; padding-bottom: 50px;}
	.box4 strong{padding:0 15px 0 7px;}
	.box5{width: 745px; height: 70px; text-align: center; line-height: 1.2;}
	